$header-title: ('default': 30px, 'xs': 45px, 'sm': 55px, 'md': 65px, 'lg': 75px)

$header-text: ('default': 20px, 'xs': 22px, 'sm': 24px, 'md': 28px)

+b("header")
	+relative

	+e('title')
		line-height: 1.1
		font-family: $bold
		+fs-simple($header-title)
	
	+e('content')
		+relative

		+min(md)
			margin-top: 75px

	+e('text')
		line-height: 1.2
		margin-top: 30px
		+fs-simple($header-text)

	+e('row')
		+m('reverse')
			+min(md)
				flex-direction: row-reverse

	+e('place')
		+relative
		padding-left: 45px
		font-family: $bold
		color: $color-brand-2
		font-size: 30px
		line-height: 1

		&:before
			content: ''
			+absolute(-1px, null, null, 0)
			+size(22px, 26px)
			+bg('../img/icon-map-marker.svg')

		+min(sm)
			+absolute(25px, 110px)