.nav__menu
	
	li
		list-style: none

	&-item
		display: block

		+transition

		a
			display: block
			position: relative
			color: inherit
			text-decoration: none
			font-family: $bold
			line-height: 1
			+transition

		+max($md_max)
			margin-bottom: 5px

			a
				padding: 15px

			&.current-menu-item a
				background-color: $color-brand-1
				color: $color-white


		+min($md)
			display: inline-block
			vertical-align: middle

			&:not(:last-child)
				margin-right: 15px

			a
				padding-top: 7.5px
				padding-bottom: 7.5px
				font-size: 14px
				+linkEffect3

			&.current-menu-item a
				&:before
					width: 100%
				&:after
					width: 100%
					background-color: rgba(0,0,0,0)