.nav__addition
	position: relative

	&-link
		display: block
		color: inherit
		text-decoration: none
		color: $color-black
		font-size: 14px
		font-family: $bold
		+transition

		&:hover
			color: $color-brand-1

		+min($md)
			font-size: 16px


	&-toggle
		position: relative

		display: block
		-webkit-tap-highlight-color: transparent
		outline: none
		
		cursor: pointer
		z-index: 1

		span
			position: relative
			display: inline-block
			vertical-align: middle

			+size(5px)
			margin-right: 5px
			border-radius: 100%
			background-color: $color-brand-1
			+transition

			&:last-child
				margin-right: 0

	&-phones
		position: relative
		margin-bottom: 15px
		padding-left: 30px

		&:before
			content: ''
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%)
			+size(18px, 32px)
			+bg('../../themes/proportion/static/build/img/icon.svg')
		
		+min($md)
			display: inline-block
			vertical-align: middle
			padding-left: 0
			padding-right: 30px
			margin-right: 25px
			margin-bottom: 0

			&:before
				left: auto
				right: 0
			

	&-btn
		display: inline-block
		vertical-align: middle


	+max($md_max)
		text-align: right

		&:before
			content: ''

			+absolute(-15px, 0)
			+size(56px)
			background-color: $color-brand-1
			opacity: 0

			+transition

		&.active
			&:before
				opacity: 1

		&-links
			+absolute(40px, 0)
			min-width: 180px
			padding: 15px
			background-color: $color-responsive-menu
			transform: translateZ(0) translateX(120%)
			text-align: left
			+transition

		&.active &
			&-links
				transform: none
			&-toggle
				span
					background-color: $color-white

		&-link
			font-size: 14px


	+min($md)
		text-align: right

		&-toggle,
		&-link_hidden
			display: none