.icon

	&-column
		&:not(:last-child)
			margin-bottom: 30px

	&_shadow
		padding: 30px 15px
		box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15)

		+min($sm)
			height: 100%

	&_center
		text-align: center
	
	&_center &
		
		&__header
			margin-bottom: 15px
		
		&__title
			margin-bottom: 15px

		&__image
			height: 100px

			+min($md)
				height: 150px

		&__content
			font-size: 17px

		&__title

			font-size: 20px
			font-family: $bold

			+min($sm)
				font-size: 22px

			+min($md)
				font-size: 24px
	
	&_step
		position: relative

		+min($sm)

			&:before
				content: ''
				+absolute(60px, 0)
				+size(66px, 32px)
				+bg('../../themes/proportion/static/build/img/icon-arrow-right.svg')
				opacity: 0.05


	&-column:last-child &_step

		&:before
			display: none

	&_step &

		+e('header')
			position: relative
			margin-bottom: 30px
			text-align: center

			&:before
				+absolute(null, null, 0, 0)
				color: $color-brand-2
				font-size: 48px
				font-family: $bold
				line-height: 1

		+e('image')
			height: 100px

	&_left

		display: flex
		align-items: center
		flex-flow: row wrap

	&_left &

		+e('header')
			margin-right: 20px

		+e('image')
			width: 70px

		+e('content')
			font-family: $bold
			flex: 1
