.ration

	margin-bottom: 30px

	&__header
		position: relative
		+size(160px)

	&__image
		+absolute(0, null, null, 0)
		+size(100%)
		object-fit: cover
	
	&__body
		padding: 30px

	&__title
		font-family: $bold
		font-size: 22px
		margin-bottom: 10px

		+min($md)
			font-size: 24px
	
	&_light &__body
		color: $color-white
		background-color: transparentize($color-white, 0.75)

	+min($sm)

		&__inner
			display: flex

		&__body
			flex: 1