<section class="background background_large ration-variants" style="background-image: url( {{ options.single_ration_section_variant.background }} );">
	<div class="container">
		<h3 class="title-lg background__title">{{options.single_ration_section_variant.title}}</h3>
		<div class="row ration-variants__row">
			{% for variant in post.get_field('variants') %}
				{% include 'partial/variant.twig' %}
			{% endfor %}
		</div>
		
	</div>
</section>