<section class="background background_large ration-contact"  style="background-image: url( {{ options.single_ration_section_form.single_ration_form_section_bg }} );">
	<div class="container">
		<div class="row background__banner-row">
			<div class="col-12 col-sm-10">
				{{ function('banner_form', options.single_ration_section_form.single_ration_form_text, '[contact-form-7 id="29" title="Контактная форма 1" button-hidden-text="Заказать услугу"]', 'banner-form_transparent')}}
			</div>
		</div>
	</div>
</section>