<section class="ration-features">
	<div class="container">
		<p class="title-lg title-section text-center color-brand-2"><span class="bold">Особенности</span> этого рациона</p>
		<div class="row ration-menu__row">
			{% for feature in post.get_field('features') %}
				<div class="icon-column col-12 col-sm-4">
					<div class="icon icon_center">
						<div class="icon__header"><img class="icon__image" src={{feature.image}} alt=""></div>
						<div class="icon__content">{{feature.text}}</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>