<section class="section dishes-info">
	<div class="container">
		<div class="row dishes-info__row">
			<div class="col-12 col-sm-6">
				<img src={{post.get_field('section_2_image')}} alt="">
			</div>
			<div class="col-12 col-sm-6">
				<h3 class="title-md color-brand-2">{{post.get_field('section_2_title')}}</h3>
				<p class="title-xs">{{post.get_field('section_2_subtitle')}}</p>
				<div class="dishes-info__text text">{{post.get_field('section_2_text')}}</div>
			</div>
		</div>
	</div>
</section>