<section class="about">
	<div class="container">
		<div class="row about__row">
			<div class="col-12 col-sm-6">
				<div class="about__header">
					<img src={{post.get_field('section_9_image')}} alt="">
				</div>
			</div>
			<div class="col-12 col-sm-6">
				<h3 class="title-lg about__title">{{post.get_field('section_9_title')}}</h3>
				<p class="title-sm about__subtitle">{{post.get_field('section_9_name')}}</p>
				<div class="about__content">
					{{post.get_field('section_9_facts')}}
				</div>
			</div>
		</div>
	</div>
</section>