{% extends "base.twig" %}

{% block content %}
	<div class="error404__content">
		<div class="error404__content-inner">
			<h1 class="title-md error404__title bold">404!</h1>
			<h2 class="title-sm error404__subtitle">Мы ничего не нашли по этому запросу!</h2>
		</div>
	</div>
{% endblock %}