<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KG2F89"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<noscript>
	<div><img src="https://mc.yandex.ru/watch/40254729" style="position:absolute; left:-9999px;" alt=""></div>
</noscript>


<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ru_RU/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="140878709663144"
  logged_in_greeting="Добрый день! Чем можем быть полезны?"
  logged_out_greeting="Добрый день! Чем можем быть полезны?">
</div>