{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores odit, eos ducimus delectus eveniet magni eaque nemo optio accusamus iure, doloremque ipsum ut ullam facilis error! Repudiandae natus quod nostrum.
	</div><!-- /content-wrapper -->
{% endblock %}