<header class="header header_background background" style="background-image: url( {{post.thumbnail.src}} ); ">
	<div class="container">
		<h1 class="header__title">{{post.title}}</h1>
	</div>
</header>